@import "~bootstrap/scss/bootstrap.scss";
.square {
    width: 80px;
    height: 80px;
    border: 1px solid ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 90px;
}
.cambiocolor {
   
    font-size: 40px;
    width: 60px;
    height: 60px;
    background: rgb(130, 131, 129);
    margin: 5px;
    border-radius: 7px;
    border: solid black;
}

.cambiocolor:hover {
    background:  rgb(175, 171, 166);;
}
body {
    background-color: rgb(72, 106, 126);
}